# Last.fm API credentials
# Get yours at https://www.last.fm/api/account/create
LASTFM_API_KEY=your_api_key_here
LASTFM_SECRET=your_actual_secret_here
LASTFM_USERNAME=your_lastfm_username_here

# LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-west-2
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_AUTH_TOKEN=your_localstack_personal_auth_token

# Infrastructure
S3_BUCKET_NAME=your_bucket_name_here